:root {
    --bg: #ffffff;
    --text: #14151a;
    --muted: #6b7280;
    --brand: #22223b;
    --brand-contrast: #f4f6fb;
    --primary: #3b82f6;
    --radius: 12px;
    --container: 1200px;

    /* Типографика — fluid */
    --fs-900: clamp(2rem, 3vw + 1rem, 3rem);
    --fs-700: clamp(1.25rem, 1.5vw + .75rem, 1.75rem);
    --fs-500: clamp(1rem, .5vw + .875rem, 1.125rem);
    --fs-400: 1rem;
    --lh: 1.6;

}
a p {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

@font-face {
    font-family: "Manrope";
    src: local("Manrope ExtraLight"),
    url("./font/Manrope-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: local("Manrope Light"),
    url("./font/Manrope-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: local("Manrope Regular"),
    url("./font/Manrope-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: local("Manrope Medium"),
    url("./font/Manrope-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: local("Manrope SemiBold"),
    url("./font/Manrope-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: local("Manrope Bold"),
    url("./font/Manrope-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: local("Manrope ExtraBold"),
    url("./font/Manrope-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
